
/* Full-width input fields */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.submit {
    width: 80%;
    text-align: center;
    position: relative;
    margin: 2% 2% 2% 10%;
}

.titlecontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.container {
    padding: 16px;
}


.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    width: 100%;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.status{
    position: absolute;
    right: 25px;
    margin-top: 6px;
    top: 0;
}

.jam{
    position: absolute;
    font-weight: bold;
    margin-top: 185px;
    right: 25px;
    top: 0;
}
